<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4433</th>
      <td>51.810731</td>
    </tr>
    <tr>
      <th>4434</th>
      <td>42.971018</td>
    </tr>
    <tr>
      <th>4435</th>
      <td>31.554497</td>
    </tr>
    <tr>
      <th>4436</th>
      <td>24.269007</td>
    </tr>
    <tr>
      <th>4437</th>
      <td>19.993400</td>
    </tr>
    <tr>
      <th>4438</th>
      <td>29.237417</td>
    </tr>
    <tr>
      <th>4439</th>
      <td>39.359520</td>
    </tr>
    <tr>
      <th>4440</th>
      <td>47.741677</td>
    </tr>
    <tr>
      <th>4441</th>
      <td>52.578106</td>
    </tr>
    <tr>
      <th>4442</th>
      <td>56.771700</td>
    </tr>
    <tr>
      <th>4443</th>
      <td>63.378636</td>
    </tr>
    <tr>
      <th>4444</th>
      <td>64.272035</td>
    </tr>
    <tr>
      <th>4445</th>
      <td>63.044085</td>
    </tr>
    <tr>
      <th>4446</th>
      <td>63.056756</td>
    </tr>
    <tr>
      <th>4447</th>
      <td>60.234428</td>
    </tr>
    <tr>
      <th>4448</th>
      <td>61.185190</td>
    </tr>
    <tr>
      <th>4449</th>
      <td>58.299856</td>
    </tr>
    <tr>
      <th>4450</th>
      <td>59.954118</td>
    </tr>
    <tr>
      <th>4451</th>
      <td>64.959710</td>
    </tr>
    <tr>
      <th>4452</th>
      <td>66.158766</td>
    </tr>
    <tr>
      <th>4453</th>
      <td>66.181292</td>
    </tr>
    <tr>
      <th>4454</th>
      <td>64.750067</td>
    </tr>
    <tr>
      <th>4455</th>
      <td>59.701083</td>
    </tr>
    <tr>
      <th>4456</th>
      <td>51.514235</td>
    </tr>
    <tr>
      <th>4457</th>
      <td>42.082550</td>
    </tr>
    <tr>
      <th>4458</th>
      <td>35.171826</td>
    </tr>
    <tr>
      <th>4459</th>
      <td>24.540010</td>
    </tr>
    <tr>
      <th>4460</th>
      <td>16.747055</td>
    </tr>
    <tr>
      <th>4461</th>
      <td>13.453447</td>
    </tr>
    <tr>
      <th>4462</th>
      <td>23.433775</td>
    </tr>
    <tr>
      <th>4463</th>
      <td>34.387610</td>
    </tr>
    <tr>
      <th>4464</th>
      <td>43.617300</td>
    </tr>
    <tr>
      <th>4465</th>
      <td>49.036035</td>
    </tr>
    <tr>
      <th>4466</th>
      <td>55.032322</td>
    </tr>
    <tr>
      <th>4467</th>
      <td>58.893483</td>
    </tr>
    <tr>
      <th>4468</th>
      <td>60.968781</td>
    </tr>
    <tr>
      <th>4469</th>
      <td>64.394337</td>
    </tr>
    <tr>
      <th>4470</th>
      <td>60.550283</td>
    </tr>
    <tr>
      <th>4471</th>
      <td>62.175917</td>
    </tr>
    <tr>
      <th>4472</th>
      <td>61.889663</td>
    </tr>
    <tr>
      <th>4473</th>
      <td>61.696842</td>
    </tr>
    <tr>
      <th>4474</th>
      <td>65.572122</td>
    </tr>
    <tr>
      <th>4475</th>
      <td>69.410912</td>
    </tr>
    <tr>
      <th>4476</th>
      <td>71.176708</td>
    </tr>
    <tr>
      <th>4477</th>
      <td>72.580749</td>
    </tr>
    <tr>
      <th>4478</th>
      <td>66.820128</td>
    </tr>
    <tr>
      <th>4479</th>
      <td>66.799111</td>
    </tr>
    <tr>
      <th>4480</th>
      <td>60.681508</td>
    </tr>
    <tr>
      <th>4481</th>
      <td>51.810731</td>
    </tr>
    <tr>
      <th>4482</th>
      <td>42.971018</td>
    </tr>
    <tr>
      <th>4483</th>
      <td>31.554497</td>
    </tr>
    <tr>
      <th>4484</th>
      <td>24.269007</td>
    </tr>
    <tr>
      <th>4485</th>
      <td>19.993400</td>
    </tr>
    <tr>
      <th>4486</th>
      <td>29.237417</td>
    </tr>
    <tr>
      <th>4487</th>
      <td>39.359520</td>
    </tr>
    <tr>
      <th>4488</th>
      <td>47.741677</td>
    </tr>
    <tr>
      <th>4489</th>
      <td>52.578106</td>
    </tr>
    <tr>
      <th>4490</th>
      <td>56.771700</td>
    </tr>
    <tr>
      <th>4491</th>
      <td>63.378636</td>
    </tr>
    <tr>
      <th>4492</th>
      <td>64.272035</td>
    </tr>
    <tr>
      <th>4493</th>
      <td>63.044085</td>
    </tr>
  </tbody>
</table>